/* Welcome to Week 2! Let's start off with a little CSS practice. Please complete the following tasks 

1.) Include this stylesheet (intro.css) in your HTML document 

2.) Add the followng styles to div element 

{
    width: 90%; 
    margin: 0 auto; 
    background: #BADA55; 
}

What changes when you add these styles?



3.)Change the size of the h1 to twice the size of the root/html element. The root element is 16px. 



4.)Change all h2 elements to the hex colour #c0ffee



5.) Change the third h2 element color to #ff4040 try to do this without adding an ID or a CLASS) 




6.) What is the relationship between the footer element and the main element (child, ancestor, sibling)? 




7.) What is the relationship between the ol element and the li element (child, ancestor, sibling)? 


8.) Bonus challenge - change the size and color of the second li element in the order list and unordered list to #8A2BE2 and 20px; 

*/









