/*+******************** FROM THIS ****************************/ 

.wrapper         {  color: #333; 

    background-color: #BADA55; 


width: 85%; 



margin: 0 auto; 

padding: 1em; 

}


.flex {

display: flex; 

}


li:nth-of-type(odd) {
    font-weight: bold; 
}



/*********************** TO THIS *************************/


/* GENERAL */ 

.wrapper {  
    color: #333; 
    background-color: #BADA55; 
    width: 85%; 
    margin: 0 auto; 
    padding: 1em; 
}

/* TYPOGRAPHY */ 


h1 {
    font-size: 2.5 em; 
    text-align: center; 
}

h2 {
    font-size: 1.8em; 
    text-align: center; 
}

li:nth-of-type(odd) {
    font-weight: bold; 
}

/* LAYOUT */ 
 
.flex {
    display: flex; 
}